#mensagem{
  background-image: url("./assets/person-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}
textarea{
  resize: none;
  text-color: #0A3871;
}